<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"	rel="stylesheet">
</head>
<body>
	<div class= logo-bloc>
	    <p class=logo-Orange>Pay My Buddy</p>
	</div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="email"></label>
            <input type="email" placeholder="Mail" id="username" name="username" required />
        </div>
        <div>
            <label for="password"></label>
            <input type="password" placeholder="Mot de passe" id="password" name="password" required />
        </div>
        <div id= btn-bloc>
            <button type="submit">Se connecter</button>
        </div>
    </form>
</body>
</html>
