<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profil</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<h1 class=logo-dark>Pay My Buddy</h1>
		</div>
		<div class="navbar-right">
			<a th:href="@{/transfert}" th:classappend="${activePage == 'transfert'} ? ' active' : ''">Transférer</a>
			<a th:href="@{/profile}" th:classappend="${activePage == 'profile'} ? ' active' : ''">Profil</a>
			<a th:href="@{/relation}" th:classappend="${activePage == 'relation'} ? ' active' : ''">Ajouter relation</a> 
			<a th:href="@{/deposit}" th:classappend="${activePage == 'deposit'} ? ' active' : ''">Virements</a>
			<a th:href="@{/logout}">Se déconnecter</a>
		</div>
	</div>
	<div th:if="${successMessage}" class="success-msg-bloc">
		<p th:text="${successMessage}" class="success-message"></p>
	</div>
	<div th:if="${errorMessage}">
		<p class="msg-red-relation" th:text="${errorMessage}"></p>
	</div>
	
	<p class="profile-p">Modifier le profil :</p>
	<form th:action="@{/profile}" id="profile-form" th:object="${user}" method="post">
		<div id="input-profile-bloc">
			<label for="username" id="profile-label">Prénom</label> 
			<input type="text" placeholder="@usename" id="username" th:field="*{username}" required />
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="msg-red">Nom d'utilisateur invalide</span>
		</div>
		<div id="input-profile-bloc">
			<label for="email" id="profile-label">Adresse e-mail</label> 
			<input type="email" placeholder="nom@domain.com" id="email" th:field="*{email}" required />
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="msg-red">Email invalide</span>
		</div>
		<div id="input-profile-bloc">
			<label for="password"  id="profile-label">Mot de passe</label> 
			<input type="password" placeholder="mot de passe" id="password" th:field="*{password}" />
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="msg-red">Mot de passe invalide</span>
		</div>
		<div class="submit-profile-bloc">
			<button class="btn-submit" type="submit">Modifier</button>
		</div>
	</form>
	<p class="profile-p">Modifier les coordonnées bancaires :</p>
	<form th:action="@{/profile/updateBankDetails}" id="profile-form" method="post">
		<div id="input-profile-bloc">
			<label for="bankAccountNumber" id="profile-label">Numéro de compte :</label>
	        <input type="text" id="bankAccountNumber" name="bankAccountNumber" th:value="${user.bankAccountNumber}" required/>
	    </div>
	    <div id="input-profile-bloc">
	        <label for="bankRoutingNumber" id="profile-label">Numéro d'acheminement :</label>
	        <input type="text" id="bankRoutingNumber" name="bankRoutingNumber" th:value="${user.bankRoutingNumber}" required/>
	    </div>
	    <div class="submit-profile-bloc">
	        <button class="btn-submit" type="submit">Modifier</button>
	    </div>
	</form>
</body>
</html>
