<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Relation</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<h1 class=logo-dark>Pay My Buddy</h1>
		</div>
		<div class="navbar-right">
			<a th:href="@{/transfert}" th:classappend="${activePage == 'transfert'} ? ' active' : ''">Transférer</a>
			<a th:href="@{/profile}" th:classappend="${activePage == 'profile'} ? ' active' : ''">Profil</a>
			<a th:href="@{/relation}" th:classappend="${activePage == 'relation'} ? ' active' : ''">Ajouter relation</a> 
			<a th:href="@{/deposit}" th:classappend="${activePage == 'deposit'} ? ' active' : ''">Virements</a>
			<a th:href="@{/logout}">Se déconnecter</a>
		</div>
	</div>
	<div th:if="${errorMessage}" class="fail-msg">
		<p class="msg-red" th:text="${errorMessage}"></p>
	</div>
	<form th:action="@{/relation}" id="form-relation" method="post">
		<div class="input-text-bloc">
			<label for="relation">Chercher une relation</label> 
			<input id="relation" type="text" placeholder="Saisir une adresse mail" name="email" required />
		</div>
		<div id="submit-relation-bloc">
			<button class="btn-submit" type="submit">Ajouter</button>
		</div>
	</form>
</body>
</html>